<div class="bloque">
 <section class="section-one">
  <span>introduccion</span>
  <h1 class="titulo-principal">Jr Web Developer</h1>
  <p>Soy un desarrollador web junior apasionado por la creación de soluciones digitales eficientes y atractivas.<br>
     Tengo conocimientos de frontend en HTML, CSS y JavaScript, y como backend Java, lo que apunto a desarrollar
     paginas webs y aplicaciones completas tanto del lado del usuario como del lado del servidor.
     Actualmente me encuentro desarrollando proyectos con frameworks Node.js, Angular y Spring Boot y bases de datos relacionales.</p>
    <img src="/animacion-dev.gif" alt="">
 </section>
 <div class="caja-aside">
  <aside class="aside-one">
      <div class="texto-aside">
      <h2>&#10077; Estoy en busca de una oportunidad para unirme a un equipo de desarrollo sólido, 
      donde mi enfoque en el detalle y la calidad pueda aportar a proyectos con impacto. 
      <br> Mi motivación es tanto aprender de quienes tienen más experiencia como compartir mis propios conocimientos&#10078;</h2>
      </div>
  </aside>

  <span class="span-aside"> Mi Redes Sociales!</span>
  <aside class="aside-two">
  </aside>
 </div>
</div>
  <section class="section">

  </section>