<div class="container">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="" [ngClass]="{active: menuOption == 'home'}" (click)="onOption('home')">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="projects" [ngClass]="{active: menuOption == 'projects'}" (click)="onOption('projects')">Proyectos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="contact" [ngClass]="{active: menuOption == 'contact'}" (click)="onOption('contact')">Contacto</a>
  </li>
</ul>
</div>
<router-outlet/>